<!DOCTYPE html>
<html>

    <head>
        <title>Quiz Results</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>

    <body>
        <h1>Your Quiz Results</h1>
        <p>You scored <%= score %> out of <%= totalQuestions %>.</p>

        <div class=" container">
            <a href="/">Play again</a>
        </div>

    </body>

</html>